.chart{
   
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        max-width: 100% !important;
        height: auto;
      margin:1.2%;
      
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.chartTitle{
    font-weight: 500;
    font-size:110%;
    padding:0 1%;
    margin:7px 0;
}