
.datagridUserList{
    width: 100%;
 display: flex;
 justify-content: center;
}
.userListPage{
 
overflow: hidden;
width: 60%;
min-width: 50%;
position: fixed ;

}



.userListImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
}
.userListUser{
    display: flex !important;

    align-items: center !important;
    text-decoration: none;
    color: inherit;
}



.userListEdit{
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #19e03a;
    margin-right: 10px;
    cursor: pointer;
}
.userListDelete{
    color: red;
    cursor: pointer;
}

