.widgetSm {
  padding: 10px;
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.widgetSmTitle {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.widgetList {
  padding: 0;
  list-style-type: none;
}
.widgetListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.widgetSmImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
}
.widgetSmUser {
  display: flex;
  flex-direction: column;
}
.widgetSmUserName {
  font-size: 100%;
  font-weight: 500;
  text-transform: capitalize;
  padding: 5px;
}
.widgetSmJopTitle {
  font-weight: 300;
  color: #666;
  text-transform: capitalize;
  padding: 5px;
}
.widgetSmbtn {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
.widgetSmIcon {
  font-size: 16px !important;
}
